:host {
  display: flex;
  width: min-content;
  background: var(--p-surface-900);
  --sidebar-expanded-display: none;

  .side-bar {
    width: 60px;
  }
}

:host:hover {
  --sidebar-expanded-display: flex;

  .side-bar {
    width: 146px;
  }
}

.side-bar {
  transition: width 400ms cubic-bezier(0.2, 0.8, 0.2, 1);
  height: 100%;
  overflow: hidden;
  box-sizing: border-box;

  display: flex;
  flex-direction: column;
  gap: 32px;

  .logo {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
  }

  .side-bar-content {
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 100%;
  }
}

p-divider {
  margin: 0;
}
