@if (!loading()) {
  <div class="exam">
    <section class="left">
      <!-- Row 1: header -->
      <div>
        <app-question-header
          (next)="next()"
          (prev)="prev()"
          [current]="activeQuestionIndex() + 1"
          [disableNext]="disableNextQuestionButton()"
          [disablePrev]="disablePreviousQuestionButton()"
          [total]="questionsAmount()"
        />

        <p-progress-bar [showValue]="false" [style]="{ height: '4px' }" [value]="progressValue()"/>
      </div>

      <!-- Row 3: tabs -->
      <app-exam-tabs (tabChange)="activeTab.set($event)" [activeTab]="activeTab()">
        @if (activeQuestion(); as question) {
            <app-question-tab-content
              questionTab
              (optionSelected)="selectOption(question.id, $event)"
              (uncheckedOption)="uncheckOption(question.id)"
              [question]="question"
              [selectedOptionId]="question.selectedOptionId"
            />
        }

        <div explanationTab>Explanation (coming soon)</div>
        <div statsTab>Statistics (coming soon)</div>
        <div commentsTab>Comments (coming soon)</div>
        <div notesTab>Notes (coming soon)</div>
      </app-exam-tabs>
    </section>

    <aside class="right">
      <div class="nav-title">Questions</div>
      <div class="nav">
        @for (q of exam()?.questions; track q.id; let i = $index) {
          <p-button
            (click)="goTo(i)"
            [ngClass]="{ active: q.isCurrentQuestion, answered: q.answered }"
            [severity]="q.isCurrentQuestion | questionNavSeverity : q.answered"
            fluid
          >
            {{ i + 1 }}
          </p-button>
        }
      </div>

      <p-button
        (click)="finish()"
        [disabled]="finishingSig()"
      >
        {{ finishingSig() ? 'Finishing...' : 'Finish exam' }}
      </p-button>
    </aside>
  </div>
} @else {
  <div class="state">Loading...</div>
}


