.DS_Store

# Node
**/node_modules/
**/dist/
**/.angular/
**/.cache/
**/coverage/
**/*.log

# Env
.env
.env.*
!.env.example
!api/.env.example
!web/.env.example

# IDE
.vscode/*
!.vscode/extensions.json
!.vscode/launch.json
!.vscode/tasks.json


