:host {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
}

app-side-bar {
  flex: 0 0 auto;
  height: 100%;
}

.content {
  padding: 16px;
  flex: 1 1 auto;
  min-width: 0;
  height: 100%;
}
