:host {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.container {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.create-exam {
  display: flex;
  flex-shrink: 1;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
}

.checkbox-container {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.actions {
  display: flex;
  justify-content: flex-end;
}

.tooltip-wrap {
  display: inline-block;
}