<div class="question-tab">
  <div class="statement">{{ question.statement }}</div>

  <div class="options">
    @for (opt of question.options; track opt.id) {

        <div
          iteraExamOptionCard="option"
          (click)="onButtonClick(opt.id)"
          [examStatus]="examStatus"
          [attempt]="attempt"
          [optionId]="opt.id"
          class="option-card"
        >
          <span pButtonLabel aria-hidden="true" class="option-btn-badge">
            {{ alphabet[$index] }}
          </span>
          <span pButtonLabel class="option-btn-text">{{ opt.text }}</span>
        </div>
    }
  </div>

  <div class="action-buttons">
    <p-button size="small" (onClick)="prev.emit()" [disabled]="disablePrev">
      <fa-icon [icon]="faChevronLeft" pButtonIcon />
      <span pButtonLabel>Previous</span>
    </p-button>
    <p-button size="small" (onClick)="next.emit()" [disabled]="disableNext">
      <span pButtonLabel>Next</span>
      <fa-icon [icon]="faChevronRight" pButtonIcon />
    </p-button>
  </div>
</div>
