<div class="question-tab">
  <div class="statement">{{ question.statement }}</div>

  <div class="options">
    @for (opt of question.options; track opt.id) {

        <div
          iteraExamOptionCard="option"
          (click)="onButtonClick(opt.id)"
          [examStatus]="examStatus"
          [attempt]="attempt"
          [optionId]="opt.id"
          class="option-card"
        >
          <span pButtonLabel aria-hidden="true" class="option-btn-badge">
            {{ alphabet[$index] }}
          </span>
          <span pButtonLabel class="option-btn-text">{{ opt.text }}</span>
        </div>

<!--      <p-button-->
<!--        iteraExamButton="option"-->
<!--        #examButton-->
<!--        (click)="onButtonClick(opt.id)"-->
<!--        [examStatus]="examStatus"-->
<!--        [attempt]="attempt"-->
<!--        [selectedOptionId]="selectedOptionId"-->
<!--        [optionId]="opt.id"-->
<!--        fluid-->
<!--      >-->
<!--        <span pButtonLabel aria-hidden="true" class="option-btn-badge">-->
<!--          {{ alphabet[$index] }}-->
<!--        </span>-->
<!--        <span pButtonLabel class="option-btn-text">{{ opt.text }}</span>-->
<!--      </p-button>-->
    }
  </div>
</div>
