<form [formGroup]="form" class="create-exam">
  <p-floatlabel variant="on">
    <p-auto-complete
      (completeMethod)="search($event)"
      [dropdown]="true"
      [forceSelection]="true"
      [multiple]="true"
      [showClear]="true"
      [suggestions]="suggestionsSig()"
      fluid
      formControlName="skills"
      inputId="skillInputId"
      optionLabel="name"
      placeholder="Search and select..."
    />
    <label for="skillInputId">Skill</label>
  </p-floatlabel>

  <p-floatlabel variant="on">
    <p-inputNumber
      [max]="50"
      [min]="1"
      [showButtons]="true"
      buttonLayout="horizontal"
      fluid
      formControlName="questionCount"
      inputId="questionCount"
    >
      <ng-template #incrementbuttonicon>
        <fa-icon [icon]="faPlus"/>
      </ng-template>
      <ng-template #decrementbuttonicon>
        <fa-icon [icon]="faMinus"/>
      </ng-template>
    </p-inputNumber>
    <label for="questionCount">Questions</label>
  </p-floatlabel>

  <div class="checkbox-container">
    <p-checkbox [binary]="true" formControlName="onlyUnsolved" inputId="onlyUnsolved"></p-checkbox>
    <label for="onlyUnsolved">Only unsolved questions</label>
  </div>

  <div class="actions">
        <span
          [pTooltip]="selectedSkillsSig().length === 0 ? 'Select at least one skill to create the exam' : ''"
          [tooltipDisabled]="selectedSkillsSig().length > 0"
          class="tooltip-wrap"
          tooltipPosition="top"
        >
          <p-button
            (onClick)="createExam()"
            [disabled]="disableCreateExam()"
            [loading]="loadingSig()"
          >
            <fa-icon [icon]="faPlay" pButtonIcon/>
            <span pButtonLabel>Start exam</span>
          </p-button>
        </span>
  </div>

  @if (errorSig(); as message) {
    <p-message severity="error">
      <ng-template #icon>
        <fa-icon [icon]="faTriangleExclamation"/>
      </ng-template>
      <span class="ms-2">{{ message | capitalize }}</span>
    </p-message>
  }
</form>
