// Include theming for Angular Material with `mat.theme()`.
// This Sass mixin will define CSS variables that are used for styling Angular Material
// components according to the Material 3 design spec.
// Learn more about theming and how to use it for your application's
// custom components at https://material.angular.dev/guide/theming
@use '@angular/material' as mat;

html {
  height: 100%;

  /* PrimeNG/PrimeUIX: force dark always */
  color-scheme: dark;
}

body {
  /* Use Prime theme tokens for app background/text */
  //background: var(--p-content-background, var(--p-surface-950, var(--background)));
  color: var(--p-content-color, var(--p-text-color, var(--text-strong)));
  font-family: Roboto, ui-sans-serif, system-ui, -apple-system, Segoe UI, Helvetica, Arial, sans-serif;

  // Reset the user agent margin.
  margin: 0;
  height: 100%;
}

html, body {
  height: 100%;
  background-color: var(--p-surface-950);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
